
h2, h5 {
  text-align: center;
  font-family: 'Tahoma';
}

body {
  max-width: 800px;
  margin: auto;
  font-family: 'Tahoma';
}

table  {
  width: 100%;
}

th, td {
  padding: 5px;
  vertical-align: text-top;
}

th {
  text-align: left;
}

.col-4 {
  padding: 5px 20px;
  background-color: #2B2741;
  color: white;
}

.col-8 {
  background-color: #E7F7F4;
}

.col-4 p {
  color: #E7F7F4;
  text-align: center;
}

.col-8 p {
  color: #2B2741;
}

.container {
  padding: 20px 0;
}

.contact {
  margin: 0 2px;
}

.profilePic {
  margin: 15px 0 30px;
  padding: 20px 0;
}

.info h2 {
  padding: 100px 0;
}

.edu, .scholarchips, .employ, .extracurri, .interest {
  margin-bottom: 17px;
}

.personalProfile {
  margin: 17px 0;
  padding-top: 37px;
}

.fa-map-marker-alt, .fa-phone, .fa-envelope-open {
  color: #8FEBD5;
}

/*

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
